@model IEnumerable<BRSK.Models.Brand>
@{
    ViewBag.Title = "Все марки автомобилей";
}
<a asp-action="Create">Добавить бренд</a>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            @if (item.Activity == false)
            {
                <td style="color: lightgray">@item.BrandId</td>
            } else
            {
                <td>@item.BrandId</td>
            }
            @if (item.Activity == false)
            {
                <td style="color: lightgray">@item.Name</td>
            }
            else
            {
                <td>@item.Name</td>
            } 
            <td>
                <a asp-action="Details" asp-controller="Brand" asp-route-id="@item.BrandId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Brand" asp-route-id="@item.BrandId">Изменить</a> |
                <a asp-action="Delete" asp-controller="Brand" asp-route-id="@item.BrandId">Удалить</a>
            </td>
        </tr>
    }
</table>